@import './node_modules/reset-css/sass/_reset.scss';

$font: 13px 'Trebuchet MS', Verdana, Helvetica, Arial, san-serif;
$background: #888;
$color: #444;

body {
  font: $font;
  background: $background;
  color: $color;
}

#spa {
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;

  background-color: #fff;
  border-radius: 0 8px 0 8px;
}